.recept1 {
    position: absolute;
}

.recept11{
    position: absolute;
    margin-left: 20%;
    margin-right: 69%;
    padding-top: 0.1%;

    border: 1px solid black;
}
.recept2{
    position: absolute;
    padding-top: 1.5%;
}
.recept22{
    position: absolute;
    margin-left: 20%;
    margin-right: 69%;
    padding-top: 1%;
    border-bottom: 1px black;
}
.secound{
    padding-top: 19%;
      }
.cena1{
    padding-top: 0.01%;
}